header{
    height: 50px;
}

nav {
    div {
    list-style: none;
    padding: 10px 0;
    justify-content: center;
    align-items: center;

    li {
    margin: 0 40px;

    a {
        font-style: italic;
        font-weight: bold;

        &:hover {
        color: #ff9900 !important;
        }
    }

    }
}

    .container-fluid {
    background-color: #ffcead !important;}
}
img{
    height: 100px; // o el tamaño que prefieras
}
