header{
    height: 50px;
}

nav {
div {
    list-style: none;
    padding: 10px 0;
    justify-content: center;
    align-items: center;

    li {
    margin: 0 40px;

    a {
        font-style: italic;
        font-weight: bold;

        &:hover {
        color: #ff9900 !important;
        }
    }

    img {
        height: 100px;
        margin-right: 10px;
        margin-left: 10px;
    }
    }
}

    .container-fluid {
    background-color: #ffcead !important;}
}
