header{
    height: 50px;
}

nav {
    div {
    list-style: none;
    padding: 10px 0;
    justify-content: center;
    align-items: center;

    li {
    margin: 0 40px;


    a {
        font-style: italic;
        font-weight: bold;
        color:$color-light !important;
        

        &:hover {
        color: #ff9900 !important;
        }
    }

    }
}

    .container-fluid {
    background-color: $color-dark !important;}
}
img{
    height: 100px;
}
