main {
    padding-top: 50px;

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    @include text-shadow;
            @include respond-to(tablet) { font-size: 1.8rem; }
    @include respond-to(mobile) { font-size: 1.5rem; }
}

.hero-index p {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
            @include respond-to(tablet) { font-size: 0.7em; }
    @include respond-to(mobile) { font-size: 0.5em; }
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
}
h2{
    font-size: 0.5em; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center; 
    width: 100%; 
    display: block;
}
.hero-index {
    @include bg-cover;
    @include flex-center(column);
    color: $color-light;
    height: 400px;
    padding: 10px 20px;
        @include respond-to(tablet) {
    height: 250px;      
    padding: 20px 15px; 
}
}

.cards {
    display: flex;
    justify-content: center;
    background-color: rgba(209, 209, 209, 0.1921568627);
    align-items: center;
    gap: 100px;
    margin: 40px 0;
    flex-wrap: wrap;

.card {
    @include card;
    width: 300px;
    

    img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .card-body {
        background-color: rgba(209, 209, 209, 0.1921568627);
        border-radius: 5px;}
    }
}

.mapa {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(209, 209, 209, 0.1921568627);
    border-radius: 8px;

    iframe {
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    margin-top: 10px;
    width: 80%;
    height: 300px;
    }
}